.homePage {
    background-size: auto;
    /* background-image: url(https://i.pinimg.com/originals/3b/1e/a2/3b1ea270cac03760a5307af6c540b234.jpg); */
}

.hederLink {
    text-decoration: none;
}

header {
    display: flex;
    height: 40px;
    width: 100%;
    direction: rtl;
    border-bottom: solid;
    border-color: black;
    background-color: rgb(248, 242, 248);

}

nav {
    display: flex;
    list-style: none;
    position: absolute;
    right: 50%;
    top: 11px;
}

.haederName {
    right: 222px;
    position: relative;
    font-weight: initial;
    bottom: 15px;
    color: darkcyan;
    font-family: cursive;

}

.haederLi {
    box-sizing: content-box;
    height: 25px;
    width: 70px;
    cursor: pointer;
    margin: 5px;
    text-align: center;
    border-left: 1px solid #ccc;
    font-family: "Audiowide", sans-serif;
    font-weight: bold;

}

.haederLi:hover {
    border-bottom: 2px solid purple;
}

.haederLinkList {
    color: black;
    text-decoration-line: none;
}

.searchForm {
    border-radius: 0;
    height: 30px;
    overflow: hidden;
    position: relative;
    z-index: 7;
    flex-grow: 1;
    max-width: 600px;
    background-color:#e0d9d8;
}

.searchInput {
    background-color:#e0d9d8;
    border: none;
    padding-bottom: 0px;
    padding-right: 7px;
    padding-top: 0px;
    padding-left: 0px;
    height: 30px;

}

.mainLogin {

    height: 400px;
    width: 400px;
    position: fixed;
    background: #ecefe8;
    padding: 20px 10px;
    z-index: 11;
    box-shadow: 0px 0px 4px 3px #000000;
    border-radius: 5%;
    right: 30%;
    top: 20%;
}

.inputbox {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.winExit {
    margin-right: 85%;
    border-radius: 50%;
}

.ContactUsMain {
    height: 400px;
    width: 400px;
    position: fixed;
    background: #ecefe8;
    padding: 20px 10px;
    z-index: 11;
    text-align: center;
    box-shadow: 0px 0px 4px 3px #000000;
    border-radius: 5%;
    right: 30%;
    top: 20%;
}

.bigTextBox {
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 269px;
    height: 90px;
}

.inputClass {
    border-radius: 5Px;
}

.homePage {
    direction: rtl;

}

.homePageMain {
    direction: rtl;
    display: flex;
}

.boxItem {
    width: 74%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 14%;
}

.itemDiteail {
    height: 80%;
    width: 52%;
    position: fixed;
    background: white;
    padding: 20px 10px;
    z-index: 11;
    text-align: center;
    border: solid 2px black;
    border-radius: 5%;
    right: 20%;
    top: 5%;
}

.bigItemImg {
    height: 30%;
    width: 30%;
}

.bigBoxFilters {

    z-index: 11;
    border-radius: 4%;
    position: fixed;
    overflow-y: auto;
    margin-top: -261px;
    width: 13%;
    height: 619px;
    background-color: #f1f1f1;
}

.filimg {
    height: 60px;
    width: 65px;
}

.liCatgory {
    font-family: "Audiowide", sans-serif;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    font-size: larger;
    border-bottom: 2px solid white;
}

.liCatgory:hover {
    border-bottom: 2px solid purple;
}


.priceBarcontainer {
    width: 98%;
}


.barPrice {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #e2a1a1;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.barPrice:hover {
    opacity: 1;
}

.barPrice::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(233, 7, 7);
    cursor: pointer;
}

.barPrice::-moz-range-thumb {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: rgb(233, 7, 7);
    cursor: pointer;
}

.login {
    font-weight: bold;
}

.itemAvailable {

    position: relative;
    background-color: #f1f1f1;
    width: 26%;
    height: 360px;
    margin: 5px;
    font-family: sans-serif;
    border-radius: 4%;

}

.itemAvailable:hover {

    background-color: rgb(232, 176, 264);
    box-shadow: 2px 2px 4px #000000;
    margin: 5px;
    border: solid black 2px;
}

.itemImg {
    height: 235px;
    width: 100%;
    background-position: center;
    box-sizing: inherit;
    background-size: cover;
    border-style: none;
}

.itemName {
    color: purple;
    font-size: large;
    font-family: sans-serif;
    cursor: pointer;
}

.itemPrice {
    display: flex;
    font-family: sans-serif;
    font-size: small;
}

.natPrice {
    text-decoration-line: line-through;
    color: gray;
    margin-right: 10px;
}

.poster {
    height: 210px;
    width: 100%;
    margin: auto;
    background-size: cover;
    margin: auto;
    background-image: url(http://www.fiba.basketball/images.fiba.com/Graphic/f/d/8f/XSBa_RDTBEqPxLCRsyDh_A.jpg?v=20201015122126973);
}

.addToCart {
    width: 100%;
    height: 40px;
    background-color: #ce5e52;
    text-align: center;
    font-family: sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: large;
    padding-top: 5px;
    cursor: pointer;
}

.addToCartNamber {
    width: 100%;
    height: 40px;
    display: flex;
    background-color: #ce5e52;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: x-large;
    -webkit-text-stroke-width: medium;

}

.cuntNumber {
    margin: auto
}

.addToCartP {
    width: 10%;
    height: 40px;
    left: 0;
    background-color: #ce5e52;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: x-large;
    -webkit-text-stroke-width: medium;
    cursor: pointer;
}

.addToCartM {
    width: 10%;
    height: 40px;
    right: 0;
    background-color: #ce5e52;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: x-large;
    -webkit-text-stroke-width: medium;
    cursor: pointer;
}