/* body{
    font-family: OpenSansHebrew;
} */
.mainCart {
    height: 440px;
    width: 16%;
    text-align: center;
    left: 5px;
    box-shadow: 2px 2px 4px #000000;
    position: absolute;
    border-radius: 4px;
    background-color: rgb(232, 220, 233);
    margin-top: 6px;
    overflow: auto
}

.cartTitel {
    background-color: yellowgreen;
    height: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: sans-serif;

}

.CartIndividual {
    display: flex;
    height: 110px;
    background-color: rgb(232, 220, 233);
    border: solid black 0.4px;
}

.itemImageCart {
    height: 65px;
    width: 60px;
    margin-top: 33%;
    background-position: center;
    box-sizing: inherit;
    background-size: cover;
    border-style: none;
}

.imageCart {
    background-color: white;
    border: solid 0.2px;
    height: 100%;
    width: 31%;
}

.CartIndividualName {
    width: 30%;
    margin: auto;
    font-family: sans-serif;
}

.CartIndividualPC {
    margin-left: 0px;
    font-family: cursive;
}

/* .cartIndividualCount */
.CartNamber {
    background-color: yellowgreen;
    display: flex;

}

.CartPM {
    background-color: #b5db1e;
    width: 33%;
    font-size: large;
    margin: auto;
    cursor: pointer;
}

.totalPrice {
    height: 25px;
    inline-size: -webkit-fill-available;
    background-color: #c2ea22;
    bottom: 5px;
    cursor: pointer;
    position: sticky;
    font-size: larger;
    display: flex;
    font-family: cursive;
}

.pay {
    padding: 2px;
    border-radius: 5px;
    width: 40%;
    background-color: rgb(140 190 210);
}